*{
    font-family: 'Sono', sans-serif;
}

main:after{
    content: '';
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 35%, rgba(0,0,0,0) 65%, rgba(0,0,0,1) 100%);
    z-index: -1;
}

/* -------------------------------- I N F O R M A Ç Õ E S */

.cega{
    display: block;
}

.informacoes{
    max-width: 1280px;
    height: 100vh;
}

.informacoes .conteudo{
    margin: 0 auto;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.informacoes .conteudo .logo{
    width: 30%;
    filter: invert(); 
}
.informacoes .conteudo .descricao{
    width: 40%;
    text-indent: 30px;
    line-height: 25px;
    color: white;
    text-shadow: 1px 1px 2px white;
}

.informacoes .btn-carrossel{
    text-align: center;
}

.informacoes .btn-carrossel .btn{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    z-index: 1;
}

.informacoes .conteudo .btn-carrossel .btn.selecionado{
    background-color: green;
}

/* -------------------------------- M E N U   L A T E R A L */

.informacoes .menu-lateral{
    width: 5%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
}

.informacoes .menu-lateral ul{
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 20px;
}

.informacoes .menu-lateral img{
    width: 30px;
    transition: 1.2s;
    filter: invert(); 
}

.informacoes .menu-lateral img:hover{
    transform: scale(1.3);
}

/* -------------------------------- C A R R O S S E L */

main .carrossel{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    /* width: 100%; */
}

.carrossel .imagemC{
    width: 100%;
    min-height: 100vh;
    display: none;
    object-fit: cover; 
    animation: trocarImagem 0.7s;
}

.carrossel .imagemC.ativa{
    display: block;
}

@keyframes trocarImagem{
    from{
        opacity: 0.90;
    }
    to{
        opacity: 1;
    }
}