@media (max-width:800px){
    .cega{
        display: none;
    }

    .informacoes .conteudo .logo{
        width: 42%;
    }

    .informacoes .menu-lateral{
        width: 8%;
    }
}

@media (max-width:580px){
    .informacoes .conteudo .logo{
        width: 58%;
    }

    .informacoes .conteudo .descricao{
        width: 58%;
    }
}

@media (max-width:480px){
    .informacoes .conteudo .descricao{
        width: 58%;
    }

    .informacoes .menu-lateral{
        width: 10%;
    }
}

@media (max-width:400px){
    .informacoes .conteudo{
        width: 100%;
        align-items: center;
    }

    .informacoes .conteudo .descricao{
        width: 90%;
        text-indent: 0;
        text-align: center;
    }

    .informacoes .menu-lateral{
        position: inherit;
        height: auto;
        width: 100%;
    }

    .informacoes .menu-lateral ul{
        flex-direction: row;
        margin-top: 20px;
        filter: none;
    }
}